body {
	font-family: "Trebuchet MS","sans-serif";
	display: flex;
	flex-flow: row wrap;
	text-align: center;
}

banner {
	order: 1;
	width: 95%;
}

banner > h1 {
	font-size: 60;
}

banner > h1 > a {
	text-decoration:none;
	color:black;
}

banner > i {
	font-size: 20;
}

#bar_block {
	background: #cccccc;
	width: 5%;
	height: 240px;
}

bar {
	order: 2;
	flex: 0 5%;
	background: #cccccc;
	height: 800px;
}

bar > div > a {
	text-decoration:none;
	color:black;
}

bar > div > img {
	width: 80%;
}

bar > div > a > img {
	width: 80%;
}

.baritem {
	margin-top: 40px;
}

profile {
	order: 3;
	width: 31%;
	height: 31%;
	margin-top: 20px;
	margin-left: 11%;
	margin-right: 8%;
}

main {
	order: 4;
}

#card.contact {
	width: 50%;
	font-size: 20;
	margin-top: 30px;
	text-align: left;
	height: 200;
	float: left;
	margin-left: 0px;
	padding: 15px;
}

#card {
	height: 250px;
	background: #cccccc;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	margin-left: 6%;
	width: 100%;
	padding: 10px;
}

#card > p {
	font-size: 60;
	text-align: center;
}

#space {
	height: 180px;
}

#photo {
	width: 22%;
	margin-top: 30px;
	border-style: solid;
	border-width: 5px;
}

#text {
	margin-top: 30px;
	text-align:justify;
	font-size: 1.3vw;
	width: 72%;
	padding: 15px;

	background: #cccccc;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
}

#project_item {
	width: 45%;
	height: 45%;
	margin: 1%;
	font-size: 160%;

	background: #cccccc;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
}

#project_item.left {
	float: left;
}

#project_item.right {
	float: right;
}

#project_item > img {
	width: 65%;
	margin-top: 30px;

	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

.right {
	float: right;
}

.left {
	float: left;
}

code {
	font-size: 20;
	font-size: 1.1vw;
}

#modal-bg {
	display: none;
	background: rgb(0,255,0,0);
	width: 94%;
	position: absolute;
	z-index: 1;
	left: 6%;
	top: 0;
}

#modal {
	background: #cccccc;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;

	position: relative;
	left: 0%;
	top: calc(30vw + 130px);

	width: 500px;
	font-size: 20;
	margin-top: 30px;
	text-align: center;
	height: 150;
	float: left;
	margin-left: 0px;
	padding: 15px;
}


@media all and (max-width: 1305px) {
	#card {
		width: 100%;
		padding: 2px;
	}

	#card.contact {
		width: 70%;
		font-size: 15;
		height: 150px;
	}

	#space {
		height: 100px;
	}

	bar {
		font-size: 70%;
	}

	#project_item {
		height: 34%;
	}
}


@media all and (max-width: 980px) {
	body {
		flex-flow: column;
		align-items: center;
	}

	#bar_block {
		order: 0;
		background: #cccccc;
		height: 30px;
		width: 100%;
	}

	bar {
		background: #ffffff;
	}

	.baritem {
		background: #cccccc;
		border-style: solid;
		border-width: 1px;
		border-color: #999999;
		font-size: 3em;
		padding: 2px;
		padding-bottom: 11px;

		margin-top: 20px;
		width: 100%;
	}

	bar > div > a:hover {
		color: #505050;
	}

	bar > div > img {
		width: 40px;
		margin-top: 10px;
	}

	bar > div > a > img {
		width: 40px;
		/*margin-top: 10px;
		background: #ff0000;*/
		position: relative;
		top: 7px;
	}

	profile {
		width: 50%;
		height: 50%;
		margin-left: 8%;
		margin-right: 8%;
	}

	main {
		width: 80%;
	}

	#card {
		width: 100%;
		margin-left: 0px;
	}

	#space {
		height: 20px;
	}

	#project_item {
		width: 78%;
		height: 24%;
		margin-left: 6%;
		margin-right: 11%;
		margin-top: 30px;
	}

	#project_item.right {
		float: none;
	}

	#project_item.left {
		float: none;
	}

	#photo.right {
		float: none;
		margin-left: auto;
		margin-right: 10%;
		width: 90%;
	}

	#photo.left {
		float: none;
		margin-left: auto;
		margin-right: 10%;
		width: 90%;
	}

	#text.right {
		float: none;
		margin-left: auto;
		margin-right: 13%;
		width: 87%;
	}

	#text.left {
		float: none;
		margin-left: auto;
		margin-right: 13%;
		width: 87%;
	}

	#card.contact {
		width: 86%;
	}

	#text {
		font-size: 83;
	}

	code {
		font-size: 20;
	}

	#modal-bg {
		left: 0px;
		width: 100%;
	}

	#modal {
		left: 21.5%;
		top: 520px;
	}
}