body {
	font-family: "Hack","sans-serif";

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-flex-flow: row wrap;
	-moz-box-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;

	text-align: center;

	background-color: rgb(255,255,255);
	/*background-image: url("img/wallpaper2.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-attachment: fixed;*/
}

#banner {
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-ms-flex-order: 1;
	-webkit-order: 1;
	order: 1;

	width: 95%;

	color: rgba(255,255,255,1.0);
	text-shadow:
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#banner > h1 {
	font-size: calc(50px + 3vw);
}

#banner > h1 > a {
	text-decoration:none;
	color: rgba(255,255,255,1.0);
}

#banner > i {
	font-size: calc(20px + 1vw);
}

#bar_block {
	background: rgba(255,255,255,0);
	width: 5%;
	height: 240px;
}

.bar {
	width: 80px;
	height: 98vh;
	min-height: 780px;
	left: 8px;
	top: 8px;

	-webkit-box-ordinal-group: 2;
	-moz-box-ordinal-group: 2;
	-ms-flex-order: 2;
	-webkit-order: 2;
	order: 2;

	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-webkit-flex: 0 5%;
	-ms-flex: 0 5%;
	flex: 0 5%;

	background: rgba(255,255,255,0.8);

	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

.bar > div > a {
	font-size: 15px;
	text-decoration:none;
	color:black;
}

.bar > div > img {
	width: 80%;
}

.bar > div > a > img {
	width: 80%;
}

.baritem {
	margin-top: 40px;
}

#profile {
	-webkit-box-ordinal-group: 3;
	-moz-box-ordinal-group: 3;
	-ms-flex-order: 3;
	-webkit-order: 3;
	order: 3;

	width: 22vw;
	height: 22vw;
	margin-top: 25px;
	margin-left: 14%;
}

main {
	-webkit-box-ordinal-group: 4;
	-moz-box-ordinal-group: 4;
	-ms-flex-order: 4;
	-webkit-order: 4;
	order: 4;

	margin-left: 8%;
}

#card.contact {
	width: 55%;
	font-size: 1.1vw;
	margin-top: 30px;
	text-align: left;
	height: 200px;
	float: left;
	margin-left: 0px;
	padding: 15px;
}

#card {
	height: 250px;
	background: rgba(255,255,255,0.8);
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	width: 100%;
	height: 20vw;
	padding: 1vw;
	padding-left: 7px;
	padding-right: 7px;
	font-size: 1.0vw;
}

#card > i {
	font-size: 1.5vw;
}

#card > p {
	font-size: 3.5vw;
	text-align: center;
}

#space {
	height: 25px;
}

/*#text {
	margin-top: 30px;
	text-align: justify;
	font-size: 1.3vw;
	width: 70%;
	height: 20vw;
	padding: 5px;
	padding-left: 5px;
	padding-right: 5px;

	background: rgba(255,255,255,0.8);
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}*/
ul {
	display: table;
    table-layout: fixed;

	margin-top: 30px;
	font-size: 0.5vw;
    width: 70%;
	height: 20vw;
	padding: 5px;
	padding-left: 5px;
	padding-right: 5px;

	background: rgba(255,255,255,0.8);
    border: 1px solid #000000;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

li {
	text-align: left;
    display: table-row;
    /*background: pink;*/
}

li > span {
	display: table-cell;
    vertical-align: middle;
	font-size: 1.1vw;
    /*border-top: 1px solid green;*/
}

li > span > span {
	font-size: 1.1vw;
}

#title {
	margin-top: 50px;
	font-size: 2vw;
	padding: 13px;
	margin-left:-29vw;

	background: rgba(255,255,255,0.8);
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

#paragraph {
	font-size: 1.3vw;
	width: 72%;
	padding: 2px;
	text-align: left;

	background: rgba(255,255,255,0.8);
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

#project_item {
	width: 29vw;
	height: 29vw;/*34vw;*/
	margin: 1%;

	text-decoration: none;
	color: black;
}

#project_item.left {
	float: left;
	margin-left: 6%;
}

#project_item.right {
	float: right;
	margin-right: 5%;
}

#project_item > img {
	width: 100%;
	margin: 0%;

	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

#project_item > div {
	position: relative;
	top: calc(-1*(50% + 2.5vh));
	width: 100%;
	line-height: 5vh;

	font-size: 4vh;
	background: rgba(255,255,255,0.8);
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

.right {
	float: right;
}

.left {
	float: left;
}

#modal-bg {
	display: none;
	background: rgba(255,255,255,0);
	width: 94%;
	height: 100vh;
	position: fixed;
	z-index: 1;
	left: 100px;
	top: 0px;
}

#modal {
	background: rgba(255,255,255,0.9);
	border-style: solid;
	border-width: 1px;
	border-color: #000000;

	position: fixed;
	left: 100px;

	width: 500px;
	font-size: 20px;
	margin-top: 30px;
	text-align: center;
	height: 150px;
	float: left;
	margin-left: 0px;
	padding: 15px;
}

#photo.right {
	width: 20vw;
	margin-top: 30px;
}

#photo.left {
	width: 20vw;
	margin-top: 30px;
}

figure {
	display: block;
	position: relative;
	overflow: hidden;

	border-style: solid;
	border-width: 0px;
	border-color: #000000;
	padding: 0px;
	background: rgba(255,255,255,0);

	margin: 0;
}

figure > img {
	width: calc(100% - 2px);
	border-style: solid;
	border-width: 1px;
	margin-bottom: 0px;
}

figcaption {
	position: absolute;
	background: rgba(0,0,0,0.75);
	color: white;
	padding: 5px;

	opacity: 0;
	bottom: -30%;
	left: 0;
	width: calc(100% - 2px);
	-webkit-transition: all 0.6s ease;
	-moz-transition:    all 0.6s ease;
	-o-transition:      all 0.6s ease;
}

figure:hover figcaption {
  opacity: 1;
  bottom: 10px;
}

form {
	font-size: 2vw;
}

textarea {
	resize: none;
	outline: none;
	font-size: 1.5vw;
	width: 50vw;
	height: 10vw;

	background: #f2f2f2;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-radius: 0px;
}

input {
	outline: none;
	font-size: 1.5vw;

	background: #f2f2f2;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-radius: 0px;
}

#comment_button {
	width: 10vw;
	text-align: center;
	font-size: 2vw;
	padding: 10px;

	background: #f2f2f2;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-radius: 0px;
}

#comment_button:hover {
	background: #cccccc;
}

#comment_button:active {
	background: #999999;
}

#comment {
	padding: 5px;
	width: 50vw;
	font-size: 1.4vw;

	background: #eeeeee;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-radius: 0px;
}

span {
	font-size: 2.6vw;
}

#help {
	font-size: 1.7vw;
	line-height: 4vw;
	padding-bottom: 2vw;
}

#help + div {
	display: none;
	font-size: 1.5vw;
}

#help:hover + div {
	display: block;
}

#paragraph:hover {
	display: block;
}

#body_text {
	background: rgba(255,255,255,0.8);
	padding: 3px;
	padding-left: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

a.typewrite {
	text-decoration: none;
	color: black;
}

span.wrap {
	font-size: 2vw;
}

#cursor {
	font-size: 2vw;
	color: #4E08D4;

	animation: blink 1.2s step-end infinite;
}

#cursor2 {
	display: none;
	font-size: 2vw;
	position: relative;
	left: -1.2vw;

	color: #4E08D4;
}

@keyframes blink {
	0% {opacity: 0.0;}
	50% {opacity: 1.0;}
}

#background {
	position:fixed;
	top:0px;
	left:0px;
	z-index:-1;

	webkit-filter: blur(8px);
	-moz-filter: blur(8px);
	-o-filter: blur(8px);
	-ms-filter: blur(8px);
	filter: blur(8px);
}

@media all and (max-width: 1305px) {

	#card.contact {
		width: 70%;
		font-size: 15px;
		height: 150px;
	}

	/*#bar {
		font-size: 70%;
	}*/

	#project_item > div {
		line-height: 4vh;
		font-size: 3vh;
	}

	#title {
		font-size: 3vw;
	}

	#paragraph {
		font-size: 2vw;
	}
}


@media all and (max-width: 980px) {
	body {
		display: block;
		text-align: center;

		-webkit-box-flex-flow: column wrap;
		-moz-box-flex-flow: column wrap;
		-webkit-flex-flow: column wrap;
		-ms-flex-flow: column wrap;
		flex-flow: column wrap;

		-webkit-box-align-items: center;
		-moz-box-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
	}

	#banner {
		margin-left: auto;
		margin-right: auto;
	}

	#bar_block {
		-webkit-box-ordinal-group: 0;
		-moz-box-ordinal-group: 0;
		-ms-flex-order: 0;
		-webkit-order: 0;
		order: 0;

		background: rgba(255,255,255,0);
		height: 30px;
		width: 100%;
	}

	.bar {
		position: static !important;
		width: 70%;
		min-height: 0px;
		height: calc(10vh + 6vw + 220px);
		background: rgba(255,255,255,0);
		margin-top: 0px;
		border: 0px;

		margin-left: auto;
		margin-right: auto;
	}

	.baritem {
		background: rgba(255,255,255,0.8);
		border-style: solid;
		border-width: 1px;
		border-color: #999999
		padding: 2px;
		padding-bottom: 11px;

		margin-top: 2vw !important;
		width: 100%;
	}

	.bar > div > a {
		font-size: 3.5vw;
	}

	#contact_button {
		font-size: 3.5vw;
	}

	.bar > div:hover > a {
		color: #505050;
	}

	.bar > div:hover {
		color: #505050;
	}

	.bar > div > img {
		width: 4.7vw;
		position: relative;
		top: 7px;
		margin-right: 1vw;
	}

	.bar > div > a > img {
		width: 4.7vw;
		position: relative;
		top: 7px;
		margin-right: 1vw;
	}

	#profile {
		width: 60%;
		height: 60%;
		margin-left: auto;
		margin-right: auto;
	}

	main {
		width: 80%;
	}

	#card {
		width: 80%;
		margin-left: 12%;
	}

	#card > i {
		font-size: 2.1vw;
	}

	#card > p {
		font-size: 3.4vw;
	}

	#space {
		height: 6vw;
	}

	#project_item {
		width: 58vw;
		height: 58vw;
	}

	#project_item.right {
		float: none;
		margin-left: 2.5%;
	}

	#project_item.left {
		float: none;
		margin-left: 2.5%;
	}

	#project_item > div {
		position: relative;
		top: 50%;
		margin-top: -50%;
		margin-bottom: 50%;
		margin-left: 2.5%;
	}

	#photo.right {
		float: none;
		margin-left: 8%;
		width: 90%;
	}

	#photo.left {
		float: none;
		margin-left: 8%;
		width: 90%;
	}

	#text.right {
		float: none;
		margin-left: 8%;
		width: 90%;
		height: 60vw;
	}

	#text.left {
		float: none;
		margin-left: 8%;
		width: 90%;
		height: 40vw;
	}

	#card.contact {
		width: 87%;
		margin-left: 7%;
	}

	li > span {
		font-size: 2.5vw;
	}

	li > span > span {
		font-size: 2.5vw;
	}

	#title {
		font-size: 3.5vw;
		margin-left:4vw;
	}

	#paragraph {
		font-size: 3.5vw;
		padding: 10px;
		line-height: 110%;
	}

	#modal-bg {
		left: 0px;
		width: 100%;
	}

	#modal {
		position: relative;
		left: 0px;
		top: 45vh;
		margin-left: 8%;
		margin-right: 10%;
		width: 80%;

		-webkit-box-transition:all 0.5s ease-in-out;
		-moz-box-transition:all 0.5s ease-in-out;
		-webkit-transition:all 0.5s ease-in-out;
		-ms-transition:all 0.5s ease-in-out;
		transition:all 0.5s ease-in-out;
	}

	img + #paragraph {
		bottom: -15vh;
	}

	img:hover + #paragraph {
		bottom: 2vh;
	}

	#comment {
		width: 70vw;
		font-size: 1.7vw;
	}

	span {
		font-size: 3.2vw;
	}

	textarea {
		width: 70vw;
	}
}

@media all and (max-width: 690px) {
	#project_item {
		height: 66vw;
		font-size: 100%;
	}
}
