body {
	font-family: "Trebuchet MS","sans-serif";
	display: flex;
	flex-flow: row wrap;
	text-align: center;
}

a {
	text-decoration:none;
	color:black;
}

banner {
	order: 1;
	width: 90%;
}

banner > h1 {
	font-size: 60;
}

banner > i {
	font-size: 20;
}

#bar_block {
	background: #cccccc;
	width: 95px;
	height: 240px;
}

bar {
	order: 2;
	flex: 0 95px;
	background: #cccccc;
	height: 800px;
}

bar > a > img {
	margin-top: 30px;
}

profile {
	order: 3;
	width: 35%;
	height: 35%;
	margin-top: 20px;
	margin-left: 8%;
	margin-right: 8%;
}

main {
	order: 4;
}

#card {
	height: 200px;
	width: 360px;
	background: #cccccc;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
}

#card > p {
	font-size: 60;
	text-align: center;
}

#space {
	height: 180px;
}

#photo {
	width: 20%;
	margin-top: 30px;
}

#text {
	margin-top: 30px;
	text-align:justify;
	font-size:25;
	width: 72%;

	background: #cccccc;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
}

#project_item {
	width: 48%;
	margin-top: 20px;
	font-size: 150%;

	background: #cccccc;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
}

#project_item.left {
	float: left;
}

#project_item.right {
	float: right;
}

#project_item > img {
	width: 60%;
	margin-top: 30px;

	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

@media all and (max-width: 980px) {
	body {
		flex-flow: column;
		align-items: center;
	}

	#bar_block {
		order: 0;
		background: #cccccc;
		height: 30px;
		width: 100%;
	}

	bar > a {
		font-size: 3em;
	}

	bar > a > img {
		width: 40px;
		margin-top: 20px;
	}

	profile {
		width: 50%;
		height: 50%;
		margin-left: 8%;
		margin-right: 8%;
	}

	main {
		width: 80%;
	}

	#card {
		width: 100%;
	}

	#space {
		height: 0px;
	}

	#project_item {
		width: 78%;
		margin-left: 6%;
		margin-right: 11%;
	}

	#project_item.right {
		float: none;
	}

	#project_item.left {
		float: none;
	}
}