body {
	font-family: "Trebuchet MS","sans-serif";
	display: flex;
	flex-flow: row wrap;
	text-align: center;
}

a {
	text-decoration:none;
	color:black;
}

banner {
	order: 1;
	width: 95%;
}

banner > h1 {
	font-size: 60;
}

banner > i {
	font-size: 20;
}

#bar_block {
	background: #cccccc;
	width: 5%;
	height: 240px;
}

bar {
	order: 2;
	flex: 0 5%;
	background: #cccccc;
	height: 800px;
}

bar > div > a > img {
	margin-top: 30px;
	width: 80%;
}

profile {
	order: 3;
	width: 31%;
	height: 31%;
	margin-top: 20px;
	margin-left: 11%;
	margin-right: 8%;
}

main {
	order: 4;
}

#card {
	height: 250px;
	width: 400px;
	background: #cccccc;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	margin-left: 6%;
}

#card > p {
	font-size: 60;
	text-align: center;
}

#space {
	height: 180px;
}

#photo {
	width: 22%;
	margin-top: 30px;
	border-style: solid;
	border-width: 5px;
}

#text {
	margin-top: 30px;
	text-align:justify;
	font-size: 1.3vw;
	width: 72%;
	padding: 15px;

	background: #cccccc;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
}

#project_item {
	width: 45%;
	margin: 25px;
	font-size: 160%;

	background: #cccccc;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
}

#project_item.left {
	float: left;
}

#project_item.right {
	float: right;
}

#project_item > img {
	width: 65%;
	margin-top: 30px;

	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

.right {
	float: right;
}

.left {
	float: left;
}

code {
	font-size: 20;
	font-size: 1.1vw;
}


@media all and (max-width: 1305px) {
	#card {
		width: 100%;
	}

	#space {
		height: 100px;
	}

	bar {
		font-size: 70%;
	}
}


@media all and (max-width: 980px) {
	body {
		flex-flow: column;
		align-items: center;
	}

	#bar_block {
		order: 0;
		background: #cccccc;
		height: 30px;
		width: 100%;
	}

	bar {
		background: #ffffff;
	}

	#baritem {
		background: #cccccc;
		border-style: solid;
		border-width: 1px;
		border-color: #999999;
		font-size: 3em;
		padding: 2px;
		padding-bottom: 11px;

		margin-top: 20px;
		width: 100%;
	}

	bar > div > a:hover {
		color: #505050;
	}

	bar > div > a > img {
		width: 40px;
		margin-top: 20px;
	}

	profile {
		width: 50%;
		height: 50%;
		margin-left: 8%;
		margin-right: 8%;
	}

	main {
		width: 80%;
	}

	#card {
		width: 100%;
		margin-left: 0px;
	}

	#space {
		height: 20px;
	}

	#project_item {
		width: 78%;
		margin-left: 6%;
		margin-right: 11%;
	}

	#project_item.right {
		float: none;
	}

	#project_item.left {
		float: none;
	}

	#photo.right {
		float: none;
		margin-left: auto;
		margin-right: 10%;
		width: 90%;
	}

	#photo.left {
		float: none;
		margin-left: auto;
		margin-right: 10%;
		width: 90%;
	}

	#text.right {
		float: none;
		margin-left: auto;
		margin-right: 13%;
		width: 87%;
	}

	#text.left {
		float: none;
		margin-left: auto;
		margin-right: 13%;
		width: 87%;
	}

	#card.contact {
		width: 86%;
	}

	#text {
		font-size: 25;
	}

	code {
		font-size: 20;
	}
}