body {
	font-family: "Trebuchet MS","sans-serif";

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-flex-flow: row wrap;
	-moz-box-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;

	text-align: center;
}

#banner {
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-ms-flex-order: 1;
	-webkit-order: 1;
	order: 1;

	width: 95%;
}

#banner > h1 {
	font-size: 60px;
}

#banner > h1 > a {
	text-decoration:none;
	color:black;
}

#banner > i {
	font-size: 20px;
}

#bar_block {
	background: #ffffff;
	width: 5%;
	height: 240px;
}

#bar {
	width: 5vw;
	height: 98vh;
	left: 8px;
	top: 8px;

	-webkit-box-ordinal-group: 2;
	-moz-box-ordinal-group: 2;
	-ms-flex-order: 2;
	-webkit-order: 2;
	order: 2;

	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-webkit-flex: 0 5%;
	-ms-flex: 0 5%;
	flex: 0 5%;

	background: #cccccc;
}

#bar > div > a {
	text-decoration:none;
	color:black;
}

#bar > div > img {
	width: 80%;
}

#bar > div > a > img {
	width: 80%;
}

.baritem {
	margin-top: 40px;
}

#profile {
	-webkit-box-ordinal-group: 3;
	-moz-box-ordinal-group: 3;
	-ms-flex-order: 3;
	-webkit-order: 3;
	order: 3;

	width: 31%;
	height: 31%;
	margin-top: 20px;
	margin-left: 11%;
	margin-right: 8%;
}

main {
	-webkit-box-ordinal-group: 4;
	-moz-box-ordinal-group: 4;
	-ms-flex-order: 4;
	-webkit-order: 4;
	order: 4;

	margin-left: 8%;
}

#card.contact {
	width: 50%;
	font-size: 20px;
	margin-top: 30px;
	text-align: left;
	height: 200px;
	float: left;
	margin-left: 0px;
	padding: 15px;
}

#card {
	height: 250px;
	background: #cccccc;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	margin-left: 6%;
	width: 100%;
	padding: 10px;
}

#card > p {
	font-size: 60px;
	text-align: center;
}

#space {
	height: 180px;
}

#photo.right {
	width: 22%;
	margin-top: 30px;
	border-style: solid;
	border-width: 5px;
}

#photo.left {
	width: 22%;
	margin-top: 30px;
	border-style: solid;
	border-width: 5px;
}

#text {
	margin-top: 30px;
	text-align:justify;
	font-size: 1.3vw;
	width: 72%;
	padding: 15px;

	background: #cccccc;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
}

#title {
	margin-top: 50px;
	font-size: 2vw;
	padding: 13px;

	background: #cccccc;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
}

#paragraph {
	font-size: 1.3vw;
	width: 72%;
	padding: 2px;
	text-align: left;

	background: #cccccc;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
}

#project_item {
	width: 45%;
	height: 30vw;
	margin: 1%;
	font-size: 160%;

	background: #cccccc;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
}

#project_item.left {
	float: left;
}

#project_item.right {
	float: right;
}

#project_item > img {
	width: 65%;
	margin-top: 30px;

	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

.right {
	float: right;
}

.left {
	float: left;
}

code {
	font-size: 20px;
	font-size: 1.1vw;
}

#modal-bg {
	display: none;
	background: rgb(255,255,255,0);
	width: 94%;
	height: 100vh;
	position: fixed;
	z-index: 1;
	left: 6%;
	top: 0px;
}

#modal {
	background: #cccccc;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;

	position: fixed;
	left: 6%;
	top: calc(12vw + 25vh + 128px);

	width: 500px;
	font-size: 20px;
	margin-top: 30px;
	text-align: center;
	height: 150px;
	float: left;
	margin-left: 0px;
	padding: 15px;
}

img + #paragraph {
	visibility: hidden;
	position: fixed;
	width: 2000px;/*93%;*/
	margin-top: 0px;
	margin-left: 0px;
	bottom: -7vh;
	left: 6%;

	-webkit-box-transition:all 0.5s ease-in-out;
	-moz-box-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;

	background: #8d8d8d;

	font-size: 17px;
	padding: 2px;
}

img:hover + #paragraph {
	visibility: visible;
	bottom: 1.1vh;
	margin-left: 0px;
}

form {
	font-size: 2vw;
}

textarea {
	resize: none;
	outline: none;
	font-size: 1.5vw;
	width: 50vw;
	height: 10vw;

	background: #f2f2f2;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-radius: 0px;
}

input {
	outline: none;
	font-size: 1.5vw;

	background: #f2f2f2;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-radius: 0px;
}

#comment_button {
	width: 10vw;
	text-align: center;
	font-size: 2vw;
	padding: 10px;

	background: #f2f2f2;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-radius: 0px;
}

#comment_button:hover {
	background: #cccccc;
}

#comment_button:active {
	background: #999999;
}

#comment {
	padding: 5px;
	width: 50vw;
	font-size: 1.4vw;

	background: #eeeeee;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-radius: 0px;
}

span {
	font-size: 2.6vw;
}

#help {
	font-size: 1.7vw;
	line-height: 4vw;
	padding-bottom: 2vw;
}

#help + div {
	display: none;
	font-size: 1.5vw;
}

#help:hover + div {
	display: block;
}

#paragraph:hover {
	display: block;
}

@media all and (max-width: 1305px) {
	#card {
		width: 100%;
		padding: 2px;
	}

	#card.contact {
		width: 70%;
		font-size: 15px;
		height: 150px;
	}

	#space {
		height: 100px;
	}

	#bar {
		font-size: 70%;
	}

	#project_item {
		height: 35vw;
	}

	#title {
		font-size: 3vw;
	}

	#paragraph {
		font-size: 2vw;
	}
}


@media all and (max-width: 980px) {
	body {
		display: block;
		text-align: center;

		-webkit-box-flex-flow: column wrap;
		-moz-box-flex-flow: column wrap;
		-webkit-flex-flow: column wrap;
		-ms-flex-flow: column wrap;
		flex-flow: column wrap;

		-webkit-box-align-items: center;
		-moz-box-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
	}

	#banner {
		margin-left: auto;
		margin-right: auto;
	}

	#bar_block {
		-webkit-box-ordinal-group: 0;
		-moz-box-ordinal-group: 0;
		-ms-flex-order: 0;
		-webkit-order: 0;
		order: 0;

		background: #cccccc;
		height: 30px;
		width: 100%;
	}

	#bar {
		position: static !important;
		width: 70%;
		height: calc(10vh + 6vw + 220px);
		background: #ffffff;
		margin-top: 0px;

		margin-left: auto;
		margin-right: auto;
	}

	.baritem {
		background: #cccccc;
		border-style: solid;
		border-width: 1px;
		border-color: #999999;
		font-size: 3em;
		padding: 2px;
		padding-bottom: 11px;

		margin-top: 2vw !important;
		width: 100%;
	}

	#bar > div > a:hover {
		color: #505050;
	}

	#bar > div > img {
		width: 40px;
		position: relative;
		top: 7px;
	}

	#bar > div > a > img {
		width: 40px;
		position: relative;
		top: 7px;
	}

	#profile {
		width: 50%;
		height: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	main {
		width: 80%;
		margin-left: 13.5vw;
		margin-right: auto;
	}

	#card {
		width: 100%;
		margin-left: 0px;
	}

	#space {
		height: 2vw;
	}

	#project_item {
		width: 78%;
		height: 53vw;
		margin-left: 6%;
		margin-right: 11%;
		margin-top: 30px;
	}

	#project_item.right {
		float: none;
	}

	#project_item.left {
		float: none;
	}

	#photo.right {
		float: none;
		margin-left: auto;
		margin-right: 10%;
		width: 90%;
	}

	#photo.left {
		float: none;
		margin-left: auto;
		margin-right: 10%;
		width: 90%;
	}

	#text.right {
		float: none;
		margin-left: auto;
		margin-right: 13%;
		width: 87%;
	}

	#text.left {
		float: none;
		margin-left: auto;
		margin-right: 13%;
		width: 87%;
	}

	#card.contact {
		width: 86%;
	}

	#text {
		font-size: 3vw;
	}

	code {
		font-size: 20px;
	}

	#title {
		font-size: 3.5vw;
	}

	#paragraph {
		font-size: 3vw;
	}

	#modal-bg {
		left: 0px;
		width: 100%;
	}

	#modal {
		position: relative;
		left: 0px;
		top: 45vh;
		margin-left: 8%;
		margin-right: 10%;
		width: 80%;
	}

	img + #paragraph {
		bottom: -15vh;
	}

	img:hover + #paragraph {
		bottom: 2vh;
	}

	#comment {
		width: 70vw;
		font-size: 1.7vw;
	}

	span {
		font-size: 3.2vw;
	}

	textarea {
		width: 70vw;
	}
}

@media all and (max-width: 615px) {
	#project_item {
		height: 69vw;
	}
}